.sidebar{
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-right: 1px solid #f1f1f4;
    .menu{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        justify-content: center;
        align-items: center;
        li{
            width: 100%;
            display: flex;
            justify-content: center;
            height: 60px;
            transition: 0.2s ease-in-out;

            position: relative;
            a{
                display: flex;
                align-items: center;
            }
            .line-active{
                opacity: 0;
                transition: 0.2s ease-in-out;
                background-color: #2a3757;
                width: 2px;
                height: 24px;
                border-radius: 8px;
                position: absolute;
                right: 0;
                z-index: 99;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        li.active{
            .line-active{
                opacity: 1;
            }
            background-color: $primary-color;
        }
    }
    .logo{
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 81px;
        margin-bottom: 20px;
        img{
            width: 45.08px;
            height: 30px;       
        }
    }
    .vng-logo{
        justify-items: self-end;
    }
}