html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  margin-bottom: 0;
}

* {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.wrapper {
  overflow: hidden;
  display: flex;
}

.container {
  margin: 0 auto;
}

.text {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.3076923077;
  color: #142245;
}

.text-b {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.3076923077;
  color: #142245;
}

.heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3888888889;
  color: #142245;
}

.right-section {
  padding-top: 20px;
  width: 100%;
  padding-right: 25px;
  padding-left: 32px;
  background-color: #fafafa;
}

.sidebar {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 0px 7px rgba(20, 34, 69, 0.07);
  padding-bottom: 36px;
  background-color: #fff;
  border-right: 1px solid #f1f1f4;
}
.sidebar .menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.sidebar .menu li {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
  transition: 0.2s ease-in-out;
  position: relative;
}
.sidebar .menu li a {
  display: flex;
  align-items: center;
}
.sidebar .menu li .line-active {
  opacity: 0;
  transition: 0.2s ease-in-out;
  background-color: #2a3757;
  width: 2px;
  height: 24px;
  border-radius: 8px;
  position: absolute;
  right: 0;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .menu li.active {
  background-color: #F0F6FD;
}
.sidebar .menu li.active .line-active {
  opacity: 1;
}
.sidebar .logo {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 81px;
  margin-bottom: 10px;
}
.sidebar .logo img {
  width: 45.08px;
  height: 30px;
}
.sidebar .vng-logo {
  margin-top: 66px;
  justify-items: self-end;
}

.emap-info {
  width: 278px;
  box-shadow: 3px 0px 12px #f1f1f4;
  /* filter: drop-shadow(3px 0px 7px rgba(20, 34, 69, 0.07)); */
}
.emap-info .heading {
  margin: 20px;
  margin-bottom: 0;
}
.emap-info-container {
  margin: 12px 16px 0;
  padding: 7px 16px;
  background-color: #FAFCFF;
}
.emap-info-row + .emap-info-row {
  padding-bottom: 14px;
  margin-top: 14px;
  border-bottom: 1px solid #f1f1f4;
}
.emap-info-row {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.emap-info-list-wrap {
  margin-top: 16px;
}
.emap-info-list {
  margin-top: 12px;
}
.emap-info-list-title {
  cursor: pointer;
  padding: 8px;
  user-select: none;
  display: flex;
  gap: 8px;
  align-items: center;
}
.emap-info-list .sub-menu {
  overflow: hidden;
  max-height: 0;
  transition: 0.5s ease-out;
}
.emap-info-list .sub-menu li {
  cursor: pointer;
  padding: 8px;
  padding-left: 26px;
  display: flex;
  gap: 1px;
  align-items: center;
}
.emap-info-list .sub-menu li.active {
  background-color: #F0F6FD;
}
.emap-info-list.active .sub-menu {
  max-height: 300px;
}
.emap-info-btn {
  padding: 10px;
  color: #374FA2;
  font-size: 13px;
  line-height: 1.3076923077;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  width: fit-content;
  background-color: #F0F6FD;
  font-weight: 600;
}

.map-section {
  padding: 20px 30px;
  flex: 1;
  padding-bottom: 20px;
}
.map-section-heading {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.map-section-wrap {
  background-image: url(../img/map.png);
  width: 100%;
  height: 94%;
  margin-top: 20px;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.06));
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.map-section-wrap .online-wrap {
  position: absolute;
  top: 20%;
  right: 30%;
  display: flex;
  gap: 20px;
}
.map-section-wrap .online-wrap img {
  margin: 20px;
}
.map-section-wrap .map-direct {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 16px;
  box-shadow: 3px 0px 7px rgba(20, 34, 69, 0.07);
  border-radius: 12px;
  background-color: #fff;
}
.map-section-wrap .map-direct .up, .map-section-wrap .map-direct .down {
  background-color: #F0F6FD;
  padding: 7.5px;
  border-radius: 4px;
  cursor: pointer;
}
.map-section-wrap .map-direct .down {
  margin-top: 25px;
}
.map-section-wrap .map-direct .down img {
  transform: rotate(180deg);
}
.map-section-wrap .map-btn-wrap {
  position: absolute;
  display: flex;
  padding: 8px 16px;
  box-shadow: 0px 4px 24px rgba(75, 75, 75, 0.1);
  border-radius: 12px;
  bottom: 16px;
  display: flex;
  background-color: #fff;
  left: 16px;
  align-items: center;
}
.map-section-wrap .map-btn-wrap .zoom-btn-wrap {
  display: flex;
  gap: 10px;
  border-right: 1px solid #f1f1f4;
  padding-right: 12px;
  align-items: center;
}
.map-section-wrap .map-btn-wrap .zoom-btn-wrap .zoom-in, .map-section-wrap .map-btn-wrap .zoom-btn-wrap .zoom-out {
  padding: 8px;
  border: 1px solid #f1f1f4;
  cursor: pointer;
  border-radius: 4px;
}
.map-section-wrap .map-btn-wrap .full-btn {
  cursor: pointer;
  padding: 8px;
  border: 1px solid #f1f1f4;
  border-radius: 4px;
  margin-left: 12px;
}
.map-section-wrap .camera-list-wrap {
  max-height: 400px;
  transition: 0.2s ease;
  position: absolute;
  top: 21px;
  right: 16px;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  width: 303px;
}
.map-section-wrap .camera-list-wrap.hide {
  max-height: 53px;
}
.map-section-wrap .camera-list-wrap.hide .input-wrap, .map-section-wrap .camera-list-wrap.hide .tabs, .map-section-wrap .camera-list-wrap.hide .camera-list {
  opacity: 0;
}
.map-section-wrap .camera-list-wrap-heading {
  font-weight: 600;
  color: #374FA2;
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 0px 7px rgba(20, 34, 69, 0.07);
  border-radius: 12px 12px 0px 0px;
  padding: 16px;
  gap: 10px;
}
.map-section-wrap .camera-list-wrap .input-wrap {
  display: flex;
  margin: 16px;
  padding: 8px;
  gap: 4px;
  align-items: center;
  background-color: #F0F6FD;
}
.map-section-wrap .camera-list-wrap .input-wrap input {
  outline: none;
  border: none;
  background-color: transparent;
}
.map-section-wrap .camera-list-wrap .input-wrap input::-webkit-input-placeholder {
  color: #C6CBDC;
}
.map-section-wrap .camera-list-wrap .input-wrap ::-moz-input-placeholder {
  color: #C6CBDC;
}
.map-section-wrap .camera-list-wrap .tabs {
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin: 0 16px;
}
.map-section-wrap .camera-list-wrap .tabs .tab {
  cursor: pointer;
  padding-bottom: 13px;
}
.map-section-wrap .camera-list-wrap .tabs .tab p {
  color: #BFBFBF;
}
.map-section-wrap .camera-list-wrap .tabs .tab.active {
  border-bottom: 2px solid #374FA2;
}
.map-section-wrap .camera-list-wrap .tabs .tab.active p {
  font-weight: 600;
  color: #374FA2;
}
.map-section-wrap .camera-list-wrap .camera-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 0 16px;
  margin-top: 16px;
}
.map-section-wrap .camera-list-wrap .camera-list .camera-item {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  border: 1px solid #F0F6FD;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
}
.map-section-wrap .camera-list-wrap .camera-list .camera-item .camera-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.map-section-wrap .camera-list-wrap .up {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  padding: 4px;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0px 4px 24px rgba(75, 75, 75, 0.1);
  z-index: 99;
  left: 50%;
  transform: translate(-50%, 50%);
}

.top-section {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-around;
}
.top-section .item {
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 165px;
  height: 92px;
  border-radius: 4px;
  background-color: #fff;
  padding: 0 14px;
  padding-right: 0;
  overflow: hidden;
}
.top-section .item.map {
  background-color: #374FA2;
}
.top-section .item.map p {
  color: #fff;
}
.top-section .item p {
  font-size: 16px;
  color: #142245;
  font-weight: 700;
}
.top-section .item-img {
  width: 100%;
}
.top-section .item-team, .top-section .item-video, .top-section .item-vbox, .top-section .item-buy, .top-section .item-map, .top-section .item-people {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
  height: 105px;
  background-size: 105px 105px;
  background-position: -10px center;
}
.top-section .item-team {
  background-image: url(../img/team-bg.svg);
}
.top-section .item-video {
  background-image: url(../img/video-bg.svg);
}
.top-section .item-vbox {
  background-image: url(../img/vbox-bg.svg);
  background-size: 128px 105px;
}
.top-section .item-buy {
  background-image: url(../img/buy-bg.svg);
}
.top-section .item-map {
  background-image: url(../img/emap-bg.svg);
}
.top-section .item-people {
  background-image: url(../img/people-bg.svg);
  background-position: -20px center;
}

.add-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.add-section .add-wrap {
  display: flex;
  gap: 20px;
  align-items: center;
}
.add-section .add-wrap .add-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #374FA2;
  padding: 12px;
  border-radius: 4px;
}
.add-section .add-wrap .add-btn .plus {
  background-color: #06daf7;
  padding: 3px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 20px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.add-section .add-wrap .add-btn p {
  color: #fff;
}
.add-section .input-wrap {
  display: flex;
  margin: 16px;
  padding: 8px;
  gap: 4px;
  margin-right: 0;
  align-items: center;
  background-color: #F0F6FD;
}
.add-section .input-wrap input {
  outline: none;
  border: none;
  background-color: transparent;
}
.add-section .input-wrap input::-webkit-input-placeholder {
  color: #C6CBDC;
}
.add-section .input-wrap ::-moz-input-placeholder {
  color: #C6CBDC;
}

.table {
  margin-top: 12px;
  background-color: #fff;
  width: 100%;
  padding: 7px 12px;
}
.table th {
  text-align: left;
  padding: 7px;
  font-weight: 600;
}
.table td {
  padding: 7px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.table .edit-btn {
  user-select: none;
  border-radius: 6px;
  background-color: #F0F6FD;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.table .edit-btn span {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.table .edit-btn .edit-menu {
  position: absolute;
  background-color: #fff;
  filter: drop-shadow(4px 4px 12px rgba(20, 34, 69, 0.1));
  padding: 8px 16px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
  top: 22px;
  z-index: 99;
  left: -106px;
  width: 125px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.table .edit-btn .edit-menu .edit-item {
  display: flex;
  gap: 8px;
  align-items: center;
}
.table .edit-btn .edit-menu.active {
  max-height: 125px;
  opacity: 1;
}
.table-pagination {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  background-color: #fff;
  padding-left: 20px;
  justify-content: space-between;
}
.table-pagination .slider {
  display: flex;
  align-items: center;
  gap: 16px;
}
.table-pagination .slider .number {
  color: #374FA2;
  font-weight: bold;
  border-radius: 4px;
  background-color: #F0F6FD;
}
.table-pagination .slider .next, .table-pagination .slider .prev, .table-pagination .slider .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.table-pagination .slider .next img {
  transform: rotate(180deg);
}

/*# sourceMappingURL=app.css.map */
